body,
html {
  height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: system;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100%;
	padding:1rem 0 0 4rem;
}

.table-container {
	flex-grow: 1;
	height: 0;
	width: calc(100% + 2em);
	margin-left: -3rem;
}

table,
th,
td {
  padding: 0.5rem;
  text-align: left;
}

thead th {
	overflow: hidden;
	border-right: 1px solid #ddd;
}

thead th:not(:first-of-type) {
	border-top: 1px solid #ddd;
}

td {
	border: 1px solid #ddd;
	vertical-align: top;
}

td.hidden, th.hidden {
	width: 0;
}

td .inner {
	background-color: rgb(51, 75, 122);
	color: #fff;
	border-color: rgba(0,0,0,0.1);
	padding: .25rem .5rem;
	border-radius: 6px;
	box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
	font-size: 0.875rem;
}

td .inner:not(:last-of-type) {
	margin-bottom: 0.5rem;
}

th:first-of-type {
	width: 2rem;
  text-align: right;
	transform: translateY(-50%);
  color: #767676;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 400;
}

tr:last-of-type td {
  display: none;
}

thead {
  background: #fff;
  border: none;
}
table {
  table-layout: fixed;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.project {
	opacity: 0.8;
	font-size: .75rem;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
  overflow: hidden;
}