<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="container">
    <h1>Concordia Technology Sandbox Volunteer Schedule</h1>
    <label for="hide-weekend"><input type="checkbox" name="hide-weekend" id="hide-weekend">Hide the weekend</label>
    <div class="table-container">
      <table>
        <colgroup>
          <col> {{#each hours.[0].days}}
          <col> {{/each}}
        </colgroup>
        <thead>
          <tr>
            <th></th>
            {{#each hours.[0].days}}
            <th>{{day}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each hours}}
          <tr>
            <th>{{hour}}:00</th>
            {{#each days}}
            <td>
              {{#each people}}
              <div class="inner" title="{{project}}" style="background-color:{{color}}">
                {{name}} {{#if project}}
                <span class="project">{{project}}</span>
                {{/if}}
              </div>
              {{/each}}
            </td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    document.getElementById('hide-weekend').addEventListener('change', function (e) {
      var checked = e.target.checked
      document.querySelectorAll('td:nth-last-of-type(-n+2), th:nth-last-of-type(-n+2)').forEach(function (el) {
        if (checked) {
          el.classList.add('hidden')
        } else {
          el.classList.remove('hidden')
        }
      })
    })
  </script>
</body>

</html>